<h2>Here are the comminuty results! See how many people share your newly assigned house with!</h2>
<ul>
    <li *ngFor="let person of people">
        <a routerLink="/community/{{person.id}}">
            <h3>
                {{person.name}}
            </h3>
        </a>   
            <p>{{person.title}}</p>
            <p>{{person.house}}</p>
            <p>Location: {{person.location}}</p>
            <button (click)="toggleEdit()">Edit</button>
            <button (click)="deletePerson(person)">Delete</button>
            <form *ngIf="edit" #sortForm="ngForm" class="resort-form" (ngSubmit)="editPerson(person)">
                
                <label for="title">Title</label>
                <select name="title" [(ngModel)]="person.title">
                    <option value="Wizard">Wizard</option>
                    <option value="Witch">Witch</option>
                  </select>
                <button id="submit" type="submit">Save</button>
              </form>
        
    </li>
</ul>
