<!DOCTYPE html>
<header>
  <h1>The Sorting Hat</h1>
</header>

<main>
  <h2>Houses</h2>
  <ul>
    <li>
      <div class="house">
        <img class="house-avatar" src="https://i.pinimg.com/originals/44/d4/5f/44d45f5786e8371255e8332e8bc456c5.jpg"
          alt="" />
        <p class="house-name">Gryffindor</p>
        <p class="house-details">Bravery, helping others, and chivalry.</p>
      </div>
    </li>
    <li>
      <div class="house">
        <img class="house-avatar"
          src="https://www.logolynx.com/images/logolynx/53/5390e974544de6279c4d9cb6253e3a2c.jpeg" alt="" />
        <p class="house-name">Slytherin</p>
        <p class="house-details">Ambition, cunningness, heritage, and resourcefulness.</p>
      </div>
    </li>
    <li>
      <div class="house">
        <img class="house-avatar" src="https://i.pinimg.com/736x/7f/d2/73/7fd273912c5104ca81124464b8f73937.jpg"
          alt="" />
        <p class="house-name">Ravenclaw</p>
        <p class="house-details">Intelligence, knowledge, planning ahead, and wit.</p>
      </div>
    </li>
    <li>
      <div class="house">
        <img class="house-avatar" src="https://i.pinimg.com/originals/c7/ce/d5/c7ced5c1092dff4b2aa3ac89b6974ac2.jpg"
          alt="" />
        <p class="house-name">Hufflepuff</p>
        <p class="house-details">Hard work, patience, loyalty, and fair play.</p>
      </div>
    </li>
  </ul>
</main>