<div class="house">
    <div class="gryffindor">
        <img class="house-avatar" src="../../assets/Gryffindor.png"
            alt="Gryffindor" />
        <p class="house-name">Gryffindor</p>
        <p class="house-details">Bravery, helping others, and chivalry.</p>
    </div>
    <div class="slytherin">
        <img class="house-avatar"
            src="../../assets/Slytherin.png" alt="" />
        <p class="house-name">Slytherin</p>
        <p class="house-details">Ambition, cunningness, heritage, and resourcefulness.</p>
    </div>
    <div class="ravenclaw">
        <img class="house-avatar" src="../../assets/Ravenclaw1.png"
            alt="" />
        <p class="house-name">Ravenclaw</p>
        <p class="house-details">Intelligence, knowledge, planning ahead, and wit.</p>
    </div>
    <div class="hufflepuff">
        <img class="house-avatar" src="../../assets/Hufflepuff.png"
            alt="" />
        <p class="house-name">Hufflepuff</p>
        <p class="house-details">Hard work, patience, loyalty, and fair play.</p>
    </div>
</div>