<div class="house">
    <div class="gryffindor">
        <img class="house-avatar" src="https://o.remove.bg/downloads/ef417c81-506e-4ffe-9634-b6f7b2b276ed/44d45f5786e8371255e8332e8bc456c5-removebg-preview.png"
            alt="" />
        <p class="house-name">Gryffindor</p>
        <p class="house-details">Bravery, helping others, and chivalry.</p>
    </div>
    <div class="slytherin">
        <img class="house-avatar"
            src="https://o.remove.bg/downloads/f3a5cef8-4f87-4bf0-ba7c-b96248020956/5390e974544de6279c4d9cb6253e3a2c-removebg-preview.png" alt="" />
        <p class="house-name">Slytherin</p>
        <p class="house-details">Ambition, cunningness, heritage, and resourcefulness.</p>
    </div>
    <div class="ravenclaw">
        <img class="house-avatar" src="https://o.remove.bg/downloads/ee21facd-e51f-4cba-a16d-e03188d09ad9/7fd273912c5104ca81124464b8f73937-removebg-preview.png"
            alt="" />
        <p class="house-name">Ravenclaw</p>
        <p class="house-details">Intelligence, knowledge, planning ahead, and wit.</p>
    </div>
    <div class="hufflepuff">
        <img class="house-avatar" src="https://o.remove.bg/downloads/74f3fb85-6514-4a34-948e-3fb3c4c10003/c7ced5c1092dff4b2aa3ac89b6974ac2-removebg-preview.png"
            alt="" />
        <p class="house-name">Hufflepuff</p>
        <p class="house-details">Hard work, patience, loyalty, and fair play.</p>
    </div>
</div>